.auth_button {
  background: #27ae60;
  border: 0;
  box-shadow: 0 0 4px #ccc;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 15px;
}
.auth_button:hover {
  opacity: 0.8;
}

.auth_box {
  width: 100%;
  margin: 0 auto;
}

.verify_box {
  direction: ltr;
  width: 100% !important;
  margin-top: 10px;
}

.verify_box input {
  width: 44px !important;
  height: 70px !important;
  direction: ltr;
  margin: 0 5px;
  font-size: 30px !important;
  border: 1px solid #ccc !important;
  border-radius: 10px !important;
  padding: 12px 0;
  text-align: center !important;
  font-family: 'IRANSansWeb' !important;
}

.verify_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.phone {
  font-weight: bold;
  font-size: 15px;
}

.edit,
.resend_code {
  color: #0069d1 !important;
  font-weight: bold;
  font-size: 16px;
}

.radio_style {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: right;
  font-weight: 600;
}

.step_button {
  background: #3498db;
  color: #fff;
  font-size: 15px;
  padding: 0.5rem 5rem;
  box-shadow: 0 0 4px #ccc;
  border: 0;
  border-radius: 10px;
}

.step_title {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}
