.banner_box {
  width: 100%;
  height: 60px;
  background: #d63031;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .banner_box {
    font-size: 14px;
  }
}
