.main_footer {
  background-color: #3d3d3d;
  padding: 1rem 0;
  color: #fff;
  padding-top: 2rem;
}

.footer_item {
  text-align: right;
}

.footer_head h4 {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.footer_list li {
  padding: 0.5rem 0;
}
.footer_list li a {
  color: #fff;
  font-size: 14px;
}

.main_footer .namad img {
  width: 100px;
  height: 100px;
}

.copyright {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding: 1rem 2rem;
}

.social_media {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social_media a {
  margin: 0 0.5rem;
  font-size: 2rem;
  color: #fff;
}

@media screen and (max-width: 567px) {
  .footer_item {
    text-align: center;
  }
  .copyright {
    text-align: center;
    font-size: 14px;
  }
  .social_media {
    justify-content: center;
  }
}
