.main_nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.main_nav ul li {
  margin: 0 2rem;
}

.main_nav ul li a {
  color: #000;
  font-weight: 600;
}

@media screen and (max-width: 567px) {
  .main_nav ul {
    justify-content: center;
    margin: 0.5rem 0;
  }
  .main_nav ul li {
    margin: 0 1rem;
  }
  .main_nav ul li a {
    color: #000;
    font-weight: bold;
    font-size: 14px;
  }
}
