.section_title {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: 600;
}

.form_warning span {
  color: red;
  font-weight: bolder;
}
.form_warning {
  font-weight: 600;
  margin: 1rem 0;
}

.form_box {
  padding: 1rem 0;
  border-bottom: 1px solid #000;
}

.form_box:last-child {
  border-bottom: 0;
}

.checkbox_wrap {
  padding: 0 1.5rem;
}

.checkbox_block {
  margin: 0.5rem 0;
}

.checkbox_title {
  font-weight: 600;
}

.checkbox_block label {
  width: 30%;
}

.checkbox_block.more_width label {
  width: 60%;
}

.checkbox_block input,
.price_input {
  background: transparent;
  border: 1px solid #ccc;
  width: 110px;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  margin-left: 5px;
  direction: ltr;
}

.checkbox_block input::placeholder {
  font-size: 12px !important;
}

.form_button {
  padding: 0.5rem 5rem;
  background: #3498db;
  color: #fff;
  border: 0;
  box-shadow: 0 0 4px #ccc;
  border-radius: 10px;
}
.form_button:hover {
  opacity: 0.8;
}
