.main_sidebar {
  min-height: 400px;
  background: #fff;
  box-shadow: 0 0 4px #ccc;
  padding: 1rem 0;
  text-align: right;
  border-radius: 10px;
  position: sticky;
  top: 1rem;
}

.user_info {
  margin-bottom: 1rem;
  text-align: center;
}

.user_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
}
.user_avatar i {
  font-size: 22px;
}

.user_text {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}
