.section_title {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: 600;
}

.collapse_icon {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.collapse_text {
  font-size: 15px;
  font-weight: bold;
}

.form_wrap {
  width: 75%;
  margin: 0 auto;
}

.form_block {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.form_label {
  width: 35%;
  font-size: 15px;
  font-weight: bold;
}

.form_input {
  width: 65%;
  display: flex;
}

.input_single {
  width: 100%;
}

.input_groupe input,
.input {
  width: 100%;
  background: transparent;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 15px;
}

.input {
  border-radius: 10px;
}

.input_right {
  border-radius: 0 10px 10px 0;
}

.input_left {
  border-radius: 10px 0 0 10px;
}

.form_warning span {
  color: red;
  font-weight: bolder;
}
.form_warning {
  font-weight: 600;
  margin: 1rem 0;
}

.radio_box {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form_button {
  padding: 0.5rem 5rem;
  background: #3498db;
  color: #fff;
  border: 0;
  box-shadow: 0 0 4px #ccc;
  border-radius: 10px;
}
.form_button:hover {
  opacity: 0.8;
}

.input_phone {
  position: relative;
  width: 100%;
}

.pre_nubmrer {
  position: absolute;
  left: 0px;
  top: 0px;
  direction: ltr;
  height: 100%;
  padding: 0 1rem 0 1rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #ccc;
}

.input_ltr {
  direction: ltr;
  text-indent: 3.5rem;
}

.radio_button {
  width: 100%;
  height: 46px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px;
}
.radio_button_active {
  width: 100%;
  height: 46px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #0069d1;
  color: #0069d1;
  padding: 12px;
  font-weight: 600;
}

.radio_button i,
.radio_button_active i {
  font-size: 20px;
}

.add_button {
  background: transparent;
  border: 0;
  box-shadow: 0 0 4px #000;
  border-radius: 5px;
  padding: 0.25rem 2rem;
}
