.button {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 13px;
  border-radius: 5px;
  background: none;
  border: 0;
}

.block {
  width: 100%;
  display: block;
}

.button:hover {
  opacity: 0.8;
}

.primary {
  background: #2ecc71 !important;
  color: #fff !important;
}
