@font-face {
  font-family: 'IRANSansWeb';
  src: url('../fonts/IRANSansWeb\(FaNum\).eot'),
    /* IE9 Compat Modes */ url('../fonts/IRANSansWeb\(FaNum\).woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../fonts/IRANSansWeb\(FaNum\).woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/IRANSansWeb\(FaNum\).ttf')
      format('truetype'); /* Safari, Android, iOS */
}
