@font-face {
  font-family: 'IRANSansWeb';
  src: url('../fonts/IRANSansWeb\(FaNum\).eot'),
    /* IE9 Compat Modes */ url('../fonts/IRANSansWeb\(FaNum\).woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../fonts/IRANSansWeb\(FaNum\).woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/IRANSansWeb\(FaNum\).ttf')
      format('truetype'); /* Safari, Android, iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  direction: rtl;
  line-height: 1.6;
  font-family: 'IRANSansWeb' !important;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  display: inline-block;
}

.bg-red {
  background: #e55039 !important;
  color: #fff !important;
}

.bg-green {
  background: #2ecc71 !important;
  color: #fff !important;
}

.clear {
  clear: both;
}

/* HEADER */
.banner-box {
  width: 100%;
  height: 60px;
  background: #d63031;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav {
  background: #eee;
  padding: 0.5rem 0;
}

.main-nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.main-nav ul li {
  margin: 0 2rem;
}

.main-nav ul li a {
  color: #000;
  font-weight: 600;
}

.header-section {
  background: #dfe6e9;
  padding: 0.5rem 0;
}

.logo img {
  width: 100px;
  height: 60px;
}

.search-form {
  position: relative;
}

.search-form input {
  width: 100%;
  padding: 0.75rem 2.5rem;
  border-radius: 5px;
  border: none;
  background: #f5f6fa;
}

.search-form input:focus {
  border: 1px solid #00a8ff;
}

.search-icon {
  position: absolute;
  right: 7px;
  top: 7px;
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #7f8fa6;
}

.select-btn {
  background: #74b9ff;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  position: absolute;
  left: 7px;
  top: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.header-text {
  text-align: right;
  margin-top: 2rem;
}
.header-text p {
  display: block;
  padding: 0.5rem;
  font-size: 16px;
  color: #000;
}

.header-buttons {
  margin-top: 2rem;
  text-align: right;
  display: flex;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 70px;
  border-radius: 5px;
  color: #000;
  border: 1px solid #ccc;
  margin: 0 1rem;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.header-btn:hover {
  background: #dcdde1;
  border: none;
  color: #2f3640;
}

.header-btn i {
  font-size: 20px;
  margin-bottom: 3px;
}

.blue-color {
  color: #00a8ff;
}

/* END HEADER */

.wrapper {
  background-color: #fff;
}

.page-section {
  padding: 1rem 0;
}

.main-section {
  padding: 2rem 0;
  text-align: right;
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  padding: 1rem 0;
  font-size: 18px;
}

.swiper-slide {
  border-radius: 10px;
}

.swiper-pagination {
  width: 100%;
  top: 50%;
}

.slider-button {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 4px#ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}

.slider-button.prev {
  left: 0;
}

.slider-button.next {
  right: 0;
}

.slider-button.swiper-button-disabled {
  opacity: 0;
}

.service-item {
  padding: 0.75rem;
  border-radius: 1rem;
  border: 1px solid #dfdfdf;
  height: 300px;
}

.service-title {
  font-size: 17px;
  font-weight: 500;
}

.service-icon {
  width: 70px;
  height: 70px;
  margin: 0.75rem auto;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  color: #576574;
}

.service-desc {
  font-size: 14px;
  color: #576574;
  margin-top: 1rem;
  height: 115px;
}

.service-btn {
  color: #fff;
  padding: 0.5rem 1rem;
  background: #2ecc71;
  font-size: 13px;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
}
.service-btn:hover {
  color: #fff;
  opacity: 0.7;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.logo-box {
  max-width: 800px;
  margin: auto;
}

.logo-item {
  font-size: 15px;
  text-align: center;
}

.logo-item p {
  margin-top: 1rem;
}

.content-box-head {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.content-box-head a,
.section-head a,
.box-head a {
  color: #3498db;
  font-size: 18px;
}

.lawyer-item {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  height: 360px;
  width: 100%;
  border: 1px solid #dfdfdf;
}

.item-title {
  font-size: 17px;
  font-weight: 600;
  line-height: 40px;
}

.require-field {
  font-size: 14px;
  color: red;
  margin-right: 5px;
  font-weight: 600;
}

#blog-section .swiper-slide {
  background: none !important;
  box-shadow: none !important;
}

.blog-item .item-title {
  text-align: right;
}

.blog-post-image {
  position: absolute;
  top: -1.5rem;
  right: 1rem;
  z-index: 999;
}

.blog-post-image img {
  width: 160px;
  height: 95px;
  border-radius: 10px;
}

.lawyer-expert {
  font-size: 14px;
  color: #747d8c;
}

.lawyer-item-inner {
  height: 70%;
}

.lawyer-item .lawyer-img img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.lawyer-item-info {
  height: 100px;
  padding: 1rem 0;
}

.item-statistic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  padding: 0.5rem 0;
  color: #747d8c;
}

span.fas.fa-star {
  font-size: 11px;
  color: #a4b0be;
}

span.fas.fa-star.star-check {
  color: #f9ca24;
}

#popular-lawyers {
  height: 390px;
}

.top-lawyers {
  background: #fff;
  text-align: right;
  padding: 1rem;
  border-radius: 1rem;
  height: 360px;
  border: 1px solid #dfdfdf;
}

.top-lawyer-item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.top-lawyer-img img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.question-box {
  border: 1px solid #dfdfdf;
  background: #fff;
  text-align: right;
  padding: 1rem;
  border-radius: 10px;
  height: 460px;
}

.question-item {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.question-item:last-child {
  border-bottom: 0;
}

.question-item-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.question-item-lawyer {
  font-size: 14px;
}

.question-item-lawyer img {
  width: 85px;
  height: 75px;
  border-radius: 10px;
}

.question-item-statistics {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: right;
  color: #747d8c;
}

.question-item-content {
  padding: 1rem 0;
}

.question-item-button {
  text-align: left;
}

.question-item-content .item-question {
  font-weight: 600;
}

.top-questions-box {
  background: #fff;
  border: 1px solid #dfdfdf;
  padding: 0.7rem;
  border-radius: 10px;
  height: 460px;
}

.top-question-item {
  margin-bottom: 1.8rem;
}

.blog-item {
  background: #fff;
  border: 1px solid #dfdfdf;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  height: 220px;
  margin-top: 2rem;
}

.blog-item-lawyer {
  position: absolute;
  top: -1rem;
  right: 1rem;
}

.blog-item-lawyer img {
  width: 110px;
  height: 90px;
}

.blog-item-content {
  margin-top: 5.5rem;
  text-align: right;
}

.blog-item-content h3 {
  font-size: 20px;
}

.blog-item-content p {
  font-size: 15px;
}

.blog-statistic {
  position: absolute;
  left: 1rem;
}

.blog-statistic span {
  display: block;
  font-size: 12px;
  text-align: right;
  color: #747d8c;
}

.intro-box {
  padding: 1rem;
  border: 1px solid #dfdfdf;
}

.intro-lawyer img {
  width: 300px;
  border-radius: 10px;
}

.support-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #3d3d3d;
  padding: 1rem 0;
  color: #fff;
  border-bottom: 1px solid #eee;
}

.main-footer {
  background-color: #3d3d3d;
  padding: 1rem 0;
  color: #fff;
  padding-top: 2rem;
}

.footer-item {
  text-align: right;
}

.footer-head h4 {
  font-size: 22px;
  font-weight: 500;
}

.footer-list li {
  padding: 0.5rem 0;
}
.footer-list li a {
  color: #fff;
  font-size: 14px;
}

.main-footer .namad img {
  width: 100px;
  height: 100px;
}

.copyright {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding: 1rem 2rem;
}

.social-media {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social-media a {
  margin: 0 0.5rem;
  font-size: 2rem;
  color: #fff;
}

/* SINGLE LAWYER PAGE */
.page-header {
  background: transparent !important;
  box-shadow: rgb(207, 216, 220) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.16) 0px 1px 3px, rgba(0, 0, 0, 0.086) 0px 1px 8px 0px,
    white 0px -1px;
}

.single-wrapper {
  padding: 2rem 0;
  position: relative;
}

.single-lawyer-item {
  border-bottom: 1px solid;
  position: relative;
}

.single-lawyer-actions {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.single-lawyer-item .action-btn {
  background: transparent;
  border: 1px solid rgb(223, 223, 223);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

.single-lawyer-item .action-btn span {
  font-size: 14px;
}

.laywer-item-info {
  width: 60%;
  margin: auto;
}

.single-lawyer-image {
  text-align: center;
  position: relative;
}

.single-lawyer-view {
  position: absolute;
  left: 3rem;
  bottom: 0;
}

.single-lawyer-image img {
  width: 150px;
  height: 120px;
  border-radius: 10px;
}

.lawyer-item-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  padding: 0.5rem 0;
}

.lawyer-item-title i {
  color: #009432;
}

.lawyer-item-title h2 {
  font-size: 22px;
  margin-right: 5px;
  font-weight: 600;
}

.lawyer-item-subtitle {
  font-size: 16px;
  text-align: center;
}

.lawyer-item-skill {
  padding: 0.5rem 0;
}

.lawyer-item-statis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0 2rem 0;
}

.lawyer-item-skill span {
  background: #f1f2f6;
  display: inline-block;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 11px;
  margin: 0 5px;
}

.lawyer-item-statis span.fas.fa-star {
  font-size: 16px;
}

.single-lawyer-contact {
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
}

.lawyer-item-contact h3 {
  font-size: 18px;
  font-weight: 600;
}

.show-more {
  color: #1e90ff;
  font-weight: 600;
  margin-right: 12px;
  display: inline-block;
}

.lawyer-item-map {
  border: 1px solid #ddd;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0 0.5rem;
  background-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.3)
    ),
    url('../img/map-background.jpg');
  background-size: cover;
  background-position: center;
}

.item-map-title a {
  font-size: 14px;
  font-weight: bold;
  color: #2980b9;
}

.item-map-title i {
  font-size: 22px;
}

.map-direction {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.map-direction a {
  background: #ecf0f1;
  padding: 0.25rem 0.7rem;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  color: #2980b9;
}

.single-lawyer-sidebar {
  position: sticky;
  top: 2rem;
}

.reserv-card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.reserv-card-head {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.reserv-card-head h3 {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 0;
}

.reserv-card-head i,
.reserv-card-head img {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 20px;
  color: #7f8fa6;
}

.reserv-card-content {
  display: flex;
  flex-direction: column;
  line-height: 2.2;
  font-size: 13px;
}

.single-lawyer-tab {
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
}

.single-lawyer-tab .nav-pills {
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.single-lawyer-tab .nav-item {
  width: 20%;
}

.single-lawyer-tab .nav-pills .nav-link {
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  text-align: center;
  font-size: 14px;
}

.single-lawyer-tab .nav-pills .nav-link.active {
  background-color: #1e90ff;
}

.skills-list {
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
}

.skills-list li {
  width: 33.3%;
  padding: 0.5rem 0;
}

.skills-list li i {
  font-size: 20px;
  margin-left: 3px;
}

.list-experience {
  padding: 0 2rem;
}

.list-experience li {
  font-size: 18px;
  padding: 0.5rem 0;
}

.list-experience li i {
  font-size: 18px;
  margin-left: 4px;
}

.performance-report {
  padding: 0 3rem;
  display: flex;
  flex-wrap: wrap;
}

.performance-report li {
  width: 33.3%;
  padding: 1rem 0;
  text-align: center;
}

.performance-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.performance-report .performance-name img,
.performance-report .performance-name i {
  font-size: 22px;
  margin-bottom: 5px;
  border: 1px solid;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-lawyer-comment {
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
}

.single-lawyer-box-title {
  font-size: 18px;
  font-weight: 600;
}

.star-rating {
  direction: ltr;
}

.commnet-star-wrap {
  display: flex;
  padding: 1rem 0;
  direction: ltr;
  justify-content: flex-end;
}

.comment-star {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.comment-star:hover {
  border: 1px solid #70a1ff;
}

.comment-star i {
  font-size: 22px;
  margin-bottom: 5px;
}

.comment-star span {
  font-size: 14px;
}

.related-title {
  font-size: 18px;
  font-weight: 600;
  padding: 1rem 0 2rem 0;
  display: block;
}

.related-lawyer-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.related-item-content {
  width: 90%;
  display: flex;
}

.related-item-arrow {
  width: 10%;
  font-size: 25px;
}

.related-lawyer-image img {
  width: 110px;
  height: 90px;
  border-radius: 10px;
}

.related-lawyer-info {
  margin-right: 1rem;
}

.related-lawyer-statistic {
  display: flex;
  padding: 5px 0;
}

.single-lawyer-comment-analyse {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.review-analyze {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  margin: 0.3rem 0;
}

.review-analyze .progress {
  height: 0.3rem;
  justify-content: flex-end;
  margin: 0 0.5rem;
  width: 100%;
}

.review-analayze-star {
  display: flex;
  align-items: center;
}

.review-analayze-star span {
  margin-right: 5px;
}

.average-rate {
  font-size: 36px;
  font-weight: 700;
}

.review-average {
  padding-bottom: 1rem;
}

.review-average .star-rating .fa-star {
  font-size: 17px;
}

.review-average .star-rating .star-check {
  color: #f39c12 !important;
}

.review-numbers {
  font-size: 14px;
}

.single-lawyer-comments-list {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.comment-list-item {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.comment-list-user {
  display: flex;
  align-items: center;
}

.comment-list-user-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-list-user-info {
  margin-right: 1rem;
  font-size: 14px;
}

.comment-list-info {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: 14px;
}

.comment-list-info .star-box {
  margin-left: 1rem;
  direction: ltr;
}

.comment-list-info .star-box .fa-star {
  font-size: 16px !important;
}

.comment-list-item:last-child {
  border-bottom: none;
}

.more-item-button {
  background: none;
  border: 1px solid rgb(169, 169, 169);
  color: #1e90ff;
  width: 368px;
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
}

/* ADVANCED SEARCH PAGE */
.search-page-wrapper {
  padding: 2rem 0;
}

.search-page-tabs .nav {
  align-items: center;
}

.search-page-tabs span {
  display: inline-block;
  margin-left: 2rem;
}

#IranMap {
  width: 100% !important;
}

#IranMap .list li ul li {
  padding: 0.5rem 0 !important;
}

#IranMap .list li ul li a {
  color: #2d3436 !important;
  background: transparent !important;
  font-size: 15px !important;
}

#IranMap .list li ul li a:hover {
  background: #0984e3 !important;
  color: #fff !important;
  border-radius: 5px !important;
}

#IranMap .map .province path:hover,
#IranMap .map .island path:hover,
#IranMap .map .province path.hover,
#IranMap .map .island path.hover {
  fill: #0984e3 !important;
}

.search-page-tabs .nav-link {
  font-size: 14px;
  border: 1px solid #ccc;
  margin: 0 0.5rem;
}

.list-exprience {
  padding: 0.5rem 0;
}

/* SEARCH RESULT */
.serach-result-page {
  padding: 2rem 0;
}

.search-result-page-haed {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search-filter-wrap {
  display: flex;
}

.sort-dropdown {
  width: 244px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 40px;
  right: -2rem;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
  z-index: 999;
  display: none;
}

.sort-dropdown span {
  margin-right: 5px;
}

.sort-dropdown .dropdown-item {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font-size: 15px;
}

.sort-dropdown .dropdown-item i {
  font-size: 18px;
}

.show {
  display: block;
}

.modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.modal-footer > :not(:last-child) {
  margin-left: 0.25rem;
}

.modal-footer > :not(:first-child) {
  margin-right: 0.25rem;
}

.filter-box .modal-footer {
  justify-content: space-between;
  border-top: 0;
}

.filter-box .modal-footer .btn {
  font-size: 14px;
}

.modal-body-head {
  font-size: 17px;
  padding: 0.5rem 0;
  font-weight: 600;
}

.modal-body-box {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.modal-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.modal-body-checkbox {
  width: 50%;
  padding: 0.25rem 0;
}

.pretty {
  margin-right: 0 !important;
}

.pretty .state label:after,
.pretty .state label:before,
.pretty.p-icon .state .icon {
  left: unset !important;
  right: 0 !important;
}

.SRI {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.SRI-lawyer-content {
  display: flex;
  align-items: center;
  height: 100%;
}

.SRI-lawyer-image img {
  width: 140px;
  height: 110px;
  border-radius: 10px;
}

.SRI-lawyer-info {
  margin-right: 2rem;
}

.SRI-lawyer-title {
  display: flex;
  align-items: center;
}

.SRI-lawyer-title i {
  color: #009432;
  margin-left: 7px;
}

.SRI-lawyer-title h3 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 0;
}

.SRI-lawyer-exprience {
  font-size: 14px;
}

.SRI-lawyer-statis {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 15px;
}

.SRI-lawyer-feature {
  background: #f1f2f6;
  padding: 7px 10px;
  border-radius: 2rem;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.SRI-lawyer-address {
  display: flex;
  font-size: 14px;
}

.SRI-view-link a {
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #0069d1;
  font-weight: 500;
}

.filter-btn {
  background: transparent;
  border: 1px solid #ccc;
  color: #000;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  margin: 0 0.5rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
}

.search-field {
  position: relative;
}

.search-field i {
  position: absolute;
  right: 5px;
  top: 10px;
}

.search-field input {
  width: 140px;
  height: 40px;
  border: 1px solid #ccc;
  background: transparent;
  color: #000;
  border-radius: 5px;
  font-size: 14px;
  padding-right: 1.75rem;
}

.SRI-reserv-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.expert-services-item {
  padding: 0.25rem 0;
}

.expert-services-item span {
  margin-right: 3px;
  font-size: 15px;
}

.expert-services-item i {
  font-size: 20px;
}

.lawyer-score {
  width: 30px;
  height: 30px;
  display: block;
  border: 1px solid #777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.SRI-reserv-icon-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: fit-content;
  flex-direction: row-reverse;
}

.SRI-reserv-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: white 0 0 0 4px;
  margin-left: -6px;
  background: #1e90ff;
  border-radius: 50%;
  font-size: 20px;
}

.SRI-reserv-icon.bg-green {
  background: #7bed9f;
  color: #44bd32;
}

.SRI-reserv-icon.bg-red {
  background: #ffcccc !important;
  color: #ff3f34 !important;
}

.Search-result-pagination {
  margin-top: 3rem;
}

.experience-item {
  border-bottom: 1px solid #ccc;
  padding: 2rem 0;
}

.exp-title {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.exp-title h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 5px;
  display: block;
}

.location-title {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.location-title h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}

.location-item-info {
  height: 100%;
  display: flex;
  align-items: center;
}

.location-title i {
  font-size: 23px;
}

.circle-images-lawyers {
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  width: auto;
}

.circle-images-lawyers img {
  width: 50px;
  height: 50px;
  margin-left: -7px;
  box-shadow: white 0 0 0 4px;
  border-radius: 50%;
}

.CIL-more-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #dcdde1;
  color: #718093;
  direction: ltr;
}

/* Q&A PAGE */
.QA-page {
  padding: 2rem 0;
}

.QA-new-box {
  border: 1px solid #ccc;
  padding: 0 1rem;
  border-radius: 10px;
}

.QA-new-head {
  border-bottom: 1px solid #ccc;
}

.QA-new-head img {
  width: 45px;
  height: 45px;
}

.QA-new-head span {
  font-size: 18px;
  font-weight: 500;
}

.QA-form-label {
  width: 100%;
  display: block;
}

.QA-form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid #ddd;
}

.QA-form-details {
  margin: 2rem 0;
}

.QA-form-alert {
  font-size: 18px;
  color: #e74c3c;
  padding-top: 1rem;
  font-weight: 600;
}

.QA-form-paragraphs {
  padding: 1rem 0;
  font-size: 14px;
}

.QA-from-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.terms-conditions {
  color: #1e90ff;
  font-weight: 600;
}

.QA-form-btn {
  background: #44bd32;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 15px;
  border-radius: 5px;
}

.QA-form-btn:hover {
  color: #fff;
  opacity: 0.7;
}

.latest-QA {
  padding: 2rem 0 1rem 0;
}

.latest-QA-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.latest-QA-head > span {
  font-size: 18px;
}

.latest-QA-item {
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding-top: 1rem;
  border-radius: 10px;
}

.QA-item-content {
  padding: 0 2rem;
}

.QA-title h3 {
  font-size: 20px;
  font-weight: 600;
}

.QA-subtitle {
  font-size: 14px;
  color: #718093;
}

.QA-item-description {
  padding: 1rem 0;
  font-size: 16px;
  font-weight: 500;
}

.QA-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  padding: 0.3rem 2rem;
  font-size: 15px;
}
.QA-item-footer i {
  margin-left: 3px;
}

.filter-select {
  width: 160px;
  font-size: 15px;
  padding: 0 0.5rem;
}

.QA-sidebar {
  position: sticky;
  top: 1rem;
}

.QA-sidebar-card {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.QA-sidebar-icon {
  text-align: center;
  margin: 0.5rem 0;
}

.QA-sidebar-icon img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #838383;
  text-align: center;
}

.QA-sidebar-text {
  color: #000;
  font-size: 14px;
  text-align: center;
}

.QA-sidebar-actions {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.QA-sidebar-head {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 1rem;
  font-size: 15px;
  text-align: center;
}

.QA-sidebar-list {
  padding: 1rem;
}

.sidebar-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 0.75rem 0;
}

.list-item-number {
  width: 32px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #747d8c;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lawyers-slider {
  padding-bottom: 2rem;
  position: relative;
}

.box-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}

.box-title {
  padding: 1rem 0;
  font-size: 18px;
  font-weight: 600;
}

/* AWNSER PAGE*/
.awnsers-box {
  margin: 1rem 0;
}

.awnser-item {
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}

.awnser-head {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}

.awnser-lawyer {
  display: flex;
  align-items: center;
}

.awnser-lawyer img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
}

.awnser-content {
  padding: 1rem 2rem 1rem 2rem;
}

.awnser-time {
  font-size: 14px;
  color: #747d8c;
}

.awnser-text {
  margin: 0.5rem 0;
  font-size: 15px;
  font-weight: 600;
}

.awnser-footer {
  padding: 0.5rem 1rem;
  border-top: 1px solid #ccc;
}

.default-button {
  background: transparent;
  border: 0;
}

.like-btn {
  font-size: 20px;
}

.awnser-actions {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.auth-call-action {
  padding: 1rem;
  border: 1px solid #ccc;
  margin-top: 2rem;
  border-radius: 10px;
}

.select-lawyer {
  padding: 1rem 0;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.search-filter .nice-select {
  width: 160px;
  text-align: right !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-filter .nice-select .option {
  text-align: right;
  padding-left: 29px;
  padding-right: 18px;
  width: 160px;
}

#msform .nice-select {
  width: 100%;
  text-align: right !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 30px;
}

#first-step-modal .nice-select {
  line-height: 40px;
}

#msform .nice-select .list {
  width: 100%;
}

#msform .nice-select .list li {
  text-align: right;
}

#msform .nice-select:after {
  left: 12px;
  right: unset;
}

.profile-btn {
  font-size: 15px;
}

.profile-btn i {
  font-size: 18px;
}

.blue-btn {
  background: #3498db !important;
  color: #fff !important;
}

.blue-btn:hover {
  color: #fff;
  opacity: 0.7;
}

.related-QA-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 0.5rem;
}

.related-QA {
  margin-top: 2rem;
}

.related-QA-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.related-QA-img img {
  width: 120px;
  height: 85px;
  border-radius: 10px;
}

.related-QA-item-btn {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 10px;
}

/* REQUEST PAGE */
.request-page {
  padding: 2rem 0;
}

.multi-step-box {
  border: 1px solid #ccc;
  padding: 1rem;
  z-index: 999;
}

.multi-step-box .modal-header {
  position: absolute;
  top: -130px;
  right: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.multi-step-box .modal-header .modal-title {
  font-size: 16px;
}

.form-steps {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.form-steps .step {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-steps .step-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.form-steps .step::after {
  content: '';
  width: 100%;
  height: 5px;
  background: #000;
}

.custom-file-label::after {
  left: 0 !important;
  right: unset !important;
}

.circle-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-file-label {
  font-size: 13px;
  color: rgb(158, 157, 157);
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: 'انتخاب فایل';
}

.request-text {
  font-size: 14px;
  color: #000;
}

.sub-input {
  color: #838383;
  font-size: 14px;
}

.request-conditon li {
  padding: 0.3rem 0;
  font-size: 15px;
}

.request-conditon li i {
  font-size: 8px;
}

.multi-step-form {
  width: 100%;
  height: 830px;
}

/*form styles*/
#msform {
  width: 100%;
  margin: 60px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
/* #msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
} */
/*buttons*/
#msform .action-button {
  background: #27ae60;
  font-weight: 500;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.75rem 2rem;
  margin: 10px 5px;
}
#msform .next {
  float: left;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 20px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  width: 33.33%;
  float: right;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  right: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27ae60;
  color: white;
}

.pay-step {
  width: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
}

.pay-staep-wrap {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.pay-step-item {
  margin: 1rem 0;
}

.money-bag,
.code-discount {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  font-size: 14px;
  position: relative;
}

.money-bag {
  cursor: pointer;
}

.code-discount {
  padding: 0.7rem 0;
}

.code-discount .discount-icon {
  position: absolute;
  right: 10px;
}

.code-discount .discount-button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
}

.code-discount .discount-button button {
  background: #0097e6;
  color: #fff;
  border: 0;
  height: 100%;
  width: 100%;
}

.code-discount input {
  border: 0;
  width: 80%;
  text-indent: 35px;
}

.select-pay {
  text-align: right;
  font-size: 17px;
}

.bank-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bank-btn {
  background: none;
  border: none;
  border: 1px solid #ccc;
  width: 120px;
  height: 55px;
  margin: 0 5px;
  border-radius: 1rem;
}

.bank-btn img {
  width: 100%;
  height: 100%;
}

.pay-btn {
  padding: 0.7rem 2rem;
  background: #70a1ff;
  color: #fff;
  border: 0;
  border-radius: 1rem;
  transition: 0.2s all ease;
}
.pay-btn:hover {
  opacity: 0.8;
}

/* SET PAPER PAGE */
.card-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-item {
  padding: 1rem;
  border: 1px solid #ccc;
  width: 19%;
  margin: 1rem 0.3rem;
  border-radius: 10px;
}

.card-item.contract .card-text {
  height: 115px;
}

.card-item.paper .card-text {
  height: 130px;
}

.card-text {
  text-align: justify;
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.card-price {
  font-weight: 600;
  font-size: 14px;
}

.paper-item {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 340px;
  margin: 1rem 0;
}

.paper-image img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.paper-title {
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  padding: 0.5rem 0;
}

.paper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

/* REQUEST STUDY */
#request-study-doc .form-control {
  font-size: 14px;
}

.price-item i {
  font-size: 25px;
  margin-left: 5px;
}

/* CALL MODAL */
.call-modal-inner {
  width: 40%;
  margin: 1rem auto;
  text-align: center;
}

.call-modal-form label {
  width: 100%;
  font-size: 15px;
}

.call-modal-form input {
  font-size: 14px;
  padding: 0.4rem 1rem;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-form-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}

/* MODAL INTRO LAWYER */
.modal-form-intro {
  width: 80%;
  margin: 1rem auto;
}

.modal-input-box {
  margin: 0.75rem 0;
}

.modal-input-box input,
.modal-input-box textarea,
.modal-input-box select {
  width: 95%;
  border: 1px solid #ccc;
  padding: 0.3rem 0.75rem;
  border-radius: 3px;
  font-size: 15px;
  color: #757575;
}

.modal-form-require-sign {
  font-size: 18px;
  color: red;
}

.modal-form-warning {
  font-size: 13px;
  line-height: 25px;
}

.modal-form-warning i {
  font-size: 7px;
  margin-left: 3px;
}

.modal-form-button {
  width: 100%;
  background: #009432;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 5px;
  transition: 0.2s all ease;
  font-size: 15px;
}

.modal-form-button:hover {
  opacity: 0.7;
}

/* BLOG PAGE */
.blog-page {
  padding: 2rem 0;
}

.attach-content-header {
  display: flex;
  flex-wrap: wrap;
}

.attach-content-image {
  width: 40%;
}

.attach-content-image img {
  border-radius: 10px;
}

.attach-content-info {
  margin-right: 1rem;
}

.attach-content-title h3 {
  font-size: 22px;
  font-weight: 600;
}

.content-statictis {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.lawyer-link {
  color: #4b7bec;
}

.attach-content-text {
  padding: 1.5rem 2rem;
}

.attach-content-text p {
  display: inline;
  font-size: 15px;
}

.read-more-box {
  text-align: left;
  padding: 0 2rem;
}

.read-more-btn {
  background: #4b7bec;
  padding: 0.3rem 0.75rem;
  font-size: 14px;
  color: #fff;
  border-radius: 2rem;
}
.read-more-btn:hover {
  color: #fff;
  opacity: 0.8;
}

.more-content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 2rem 0;
}

.BP-blog-item {
  margin: 1rem 0;
}

.BP-blog-item-image {
  width: 30%;
}

.BP-blog-item-image img {
  border-radius: 10px;
}

.BP-blog-item-info {
  margin-right: 1rem;
}

.BP-blog-item-text p {
  display: inline;
  font-size: 15px;
}

.blog-page-sidebar {
  margin-bottom: 2rem;
}

.blog-sidebar-head h4 {
  width: 100%;
  float: left;
  margin: 0 !important;
  border-bottom: 0 solid #0069d1;
  position: relative;
}

.blog-sidebar-head h4::before {
  content: '';
  height: 1px;
  width: 100%;
  background: #0069d1;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  position: absolute;
  top: 50%;
  z-index: 0;
  right: 0;
  left: 0;
}

.blog-sidebar-head h4 span {
  cursor: default;
  padding: 5px 15px;
  background: #fff;
  font-size: 16px;
  border: solid 1px transparent;
  float: none !important;
  font-weight: 400;
  color: #0069d1 !important;
  margin: 0 25px 0 0;
  line-height: 2;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  transition: all ease 0.25s;
}

.sidebar-items {
  padding: 0 1rem;
}

.sidebar-item-text {
  padding: 0.35rem 0;
}

.sidebar-item-text a {
  font-size: 15px;
  font-weight: 500;
}

.sidebar-item-text i {
  color: #4b7bec;
  font-size: 19px;
  margin-left: 3px;
}

.sidebar-item-with-image {
  margin: 1rem 0;
}

.sidebar-item-image img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
}

.sidebar-item-with-image .content-statictis {
  font-size: 14px;
}

.post-review form textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
}

.related-post-item img {
  border-radius: 10px;
}

/* MEDIA QUERY */

@media screen and (max-width: 576px) {
  .main-nav ul {
    justify-content: flex-start;
  }
  .main-nav ul li {
    margin: 0 0.5rem;
  }
  .header-login {
    text-align: center;
    padding: 1rem 0;
  }
  .logo {
    text-align: center;
  }
  .main-nav ul li a {
    font-size: 14px;
  }
  .search-form {
    margin: 1rem 0;
  }
  .service-item {
    height: 330px;
  }
  .item-statistic {
    justify-content: space-around;
  }
  .question-item-statistics {
    font-size: 11px;
  }
  .intro-text {
    margin: 1rem 0;
  }
  .footer-item {
    text-align: center;
  }
  .social-media {
    text-align: center;
  }

  .laywer-item-info {
    width: 100%;
    padding-top: 4rem;
  }
  .lawyer-item-skill span {
    margin: 5px;
  }
  .single-lawyer-view {
    left: 1rem;
  }
  .lawyer-item-map {
    margin: 1rem 0;
  }
  .map-direction {
    justify-content: space-around;
  }
  .map-direction a {
    width: 50%;
    text-align: center;
    font-weight: 600;
  }
  .single-lawyer-tab .nav-item {
    width: 33%;
  }
  .single-lawyer-tab .nav-pills .nav-link {
    font-size: 12px;
  }
  .skills-list li {
    width: 50%;
  }
  .multi-step-form {
    height: 1200px;
  }
  #msform {
    margin-top: 125px;
  }
  .multi-step-box .modal-header {
    top: -225px;
  }
  .multi-step-box .modal-header .modal-title {
    font-size: 16px;
  }
  .pay-staep-wrap {
    width: 100%;
  }
  #msform fieldset {
    padding: 20px 0;
  }
  .custom-file-label {
    height: calc(2.5em + 0.75rem + 2px);
    font-size: 11px;
  }
  .custom-file-label::after {
    height: calc(2.5em + 0.75rem);
    padding: 0.75rem 0.75rem;
    display: none;
  }
  .sub-input {
    font-size: 12px;
  }
  .form-control {
    font-size: 14px;
  }
  .bank-btn {
    margin-bottom: 2rem;
  }

  .box-title {
    font-size: 15px;
  }
  .content-box-head a,
  .section-head a,
  .box-head a {
    font-size: 16px;
  }
  .card-item {
    width: 100%;
  }
  .call-modal-inner {
    width: 100%;
  }
  .related-post-item {
    margin: 1rem 0;
  }
  .attach-content-image {
    width: 100%;
    margin-bottom: 1rem;
  }
}
