.blog_item {
  background: #fff;
  border: 1px solid #dfdfdf;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  height: 220px;
  margin: 25px 5px;
  direction: rtl;
}

.blog_item_lawyer {
  position: absolute;
  top: -1rem;
  right: 1rem;
}

.blog_item_lawyer img {
  width: 110px;
  height: 90px;
}

.blog_item_content {
  margin-top: 5.5rem;
  text-align: right;
}

.blog_item_content h3 {
  font-size: 20px;
}

.blog_item_content p {
  font-size: 15px;
}

.blog_statistic {
  position: absolute;
  left: 1rem;
}

.blog_statistic span {
  display: block;
  font-size: 12px;
  text-align: right;
  color: #747d8c;
}

.blog_post_image {
  position: absolute;
  top: -1.5rem;
  right: 1rem;
  z-index: 999;
}

.blog_post_image img {
  width: 160px;
  height: 95px;
  border-radius: 10px;
}
