.header_text {
  text-align: right;
  margin-top: 2rem;
}
.header_text p {
  display: block;
  padding: 0.5rem;
  font-size: 16px;
  color: #000;
}

.header_buttons {
  margin-top: 2rem;
  text-align: right;
  display: flex;
}

.header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 70px;
  border-radius: 5px;
  color: #000;
  border: 1px solid #ccc;
  margin: 0 1rem;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.header_btn:hover {
  background: #dcdde1;
  border: none;
  color: #2f3640;
}

.header_btn i {
  font-size: 20px;
  margin-bottom: 3px;
}

@media screen and (max-width: 567px) {
  .header_text p {
    font-size: 14px;
    text-align: justify;
  }
  .header_btn {
    font-size: 14px;
  }
}
