.search_form {
  position: relative;
}

.search_form input {
  width: 100%;
  padding: 0.75rem 2.5rem;
  border-radius: 5px;
  border: none;
  background: #f5f6fa;
}

.search_form input:focus {
  border: 1px solid #00a8ff;
}

.search_icon {
  position: absolute;
  right: 7px;
  top: 7px;
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #7f8fa6;
}

.select_btn {
  background: #74b9ff;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  position: absolute;
  left: 7px;
  top: 5px;
  border-radius: 5px;
  font-size: 14px;
}

@media screen and (max-width: 567px) {
  .search_form {
    margin-top: 1rem;
  }
  .search_form input {
    font-size: 13px;
  }
}
