.lawyer_item {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  height: 360px;
  width: 100%;
  border: 1px solid #dfdfdf;
  direction: rtl;
}

.lawyer_item_inner {
  height: 70%;
}

.lawyer_item .lawyer_img {
  display: flex;
  justify-content: center;
}

.lawyer_item .lawyer_img img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.lawyer_item_info {
  height: 100px;
  padding: 1rem 0;
}
