.question_item {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.question_item:last-child {
  border-bottom: 0;
}

.question_item_info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.question_item_lawyer {
  font-size: 14px;
}

.question_item_lawyer img {
  width: 85px;
  height: 75px;
  border-radius: 10px;
}

.question_item_statistics {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: right;
  color: #747d8c;
}

.question_item_content {
  padding: 1rem 0;
}

.question_item_button {
  text-align: left;
}

.question_item_content .item_question {
  font-weight: 600;
}
