.service_item {
  padding: 0.75rem;
  border-radius: 1rem;
  border: 1px solid #dfdfdf;
  height: 300px;
  margin: 0 10px;
}

.service_title {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.service_icon {
  width: 70px;
  height: 70px;
  margin: 0.75rem auto;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  color: #576574;
}

.service_desc {
  font-size: 14px;
  color: #576574;
  margin-top: 1rem;
  height: 115px;
  text-align: justify;
}

.service_btn {
  color: #fff;
  padding: 0.5rem 1rem;
  background: #2ecc71;
  font-size: 13px;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.service_btn:hover {
  color: #fff;
  opacity: 0.7;
}
