.top_question_item {
  margin-bottom: 1.8rem;
}

.question_item_statistics {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  text-align: right;
  color: #747d8c;
}

.question_item_lawyer {
  font-size: 14px;
}

.question_item_lawyer img {
  width: 85px;
  height: 75px;
  border-radius: 10px;
}
