@font-face {
  font-family: 'IRANSansWeb';
  src: url('../public/fonts/IRANSansWeb\(FaNum\).woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/IRANSansWeb\(FaNum\).woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('../public/fonts/IRANSansWeb\(FaNum\).ttf')
      format('truetype'); /* Safari, Android, iOS */
}
